body .popup-wrap {
  background-color: rgba(0, 0, 0, 0.3);
}
body #main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body #main #search {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  border-radius: 10px;
  padding: 15px 20px 15px 20px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.3);
}
body #main #search a {
  margin-right: 13px;
}
body #main #search input {
  width: 500px;
  border: none;
  font-size: 18px;
  outline: none;
  background-color: transparent;
}
body #main #search input::placeholder {
  color: black;
  opacity: 1;
}
body #main #search .bg-white::placeholder {
  color: white;
  opacity: 1;
}
body #main #today-cards {
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}
body #main #today-cards #today-card {
  position: relative;
  width: 350px;
  height: 400px;
  margin: 0 15px;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}
body #main #today-cards #today-card #emoji {
  align-self: center;
  width: 122px;
  margin: 0;
}
body #main #today-cards #today-card #text {
  color: white;
  font-size: 22px;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  word-break: keep-all;
  cursor: pointer;
}
body #main #today-cards #today-card #author {
  color: white;
  font-size: 14px;
}
body #main #today-cards #today-card #save-btn {
  position: absolute;
  left: 86%;
  right: 71.88%;
  top: 5%;
  bottom: 62.13%;
  cursor: pointer;
}
body #main #today-cards #content-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 350px;
  height: 400px;
  margin: 0 15px;
  padding: 20px;
  border-radius: 30px;
  font-family: "HSSaemaul-Regular";
  color: white;
}
body #main #today-cards #content-card #title {
  font-size: 32px;
  margin: 0px;
}
body #main #today-cards #content-card a img {
  width: 230px;
  margin: 10px 0;
}
body #main #today-cards #content-card #description {
  font-size: 24px;
  margin: 0px;
  word-break: keep-all;
}
body #main #clear-btn {
  font-size: 20px;
  background-color: white;
  border: none;
  border-radius: 10px;
}
body #main #pop-card {
  display: none;
  padding: 15px;
  width: 500px;
  position: fixed;
  border-radius: 10px;
}
body #main #pop-card div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #main #pop-card div div {
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(15px);
  border-radius: 30px;
  padding: 30px;
}
body #main #pop-card div div img {
  width: 122px;
}
body #main #pop-card div div h5 {
  font-size: 32px;
  margin: 20px 0 30px 0;
  text-align: center;
  word-break: keep-all;
  color: white;
}
body #main #pop-card div div p {
  font-size: 16px;
  margin: 0;
  color: white;
}
body #main #pop-card div #close-btn {
  width: 177px;
  text-align: center;
  border: none;
  border-radius: 30px;
  margin-top: 35px;
  padding: 10px 20px;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  color: #f27751;
}

/*# sourceMappingURL=mainStyle.css.map */
