form {
  #today-cards {
    margin-top: 46.5px;
    border-top: 2px solid black;
    #today-card {
      #data {
        margin: 15px;
        padding: 15px;
        // border-radius: 15px;
        background-color: coral;
        #emoji {
          // font-size: 50px;
          width: 70px;
          margin: 0;
        }
        #text {
          font-size: 22px;
        }
        #author {
          display: flex;
          justify-content: flex-end;
        }
      }
      #btns {
        #save-btn,
        #cap-btn {
          // display: flex;
          margin: 5px 15px;
          border: none;
          // border: 1px black solid;
          background-color: transparent;
          // color: white;
          cursor: pointer;
        }
      }
    }
  }
}
