@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

form {
  #settings {
    margin-top: 50px;
    padding: 5px 5px;
    #setting-title {
      font-size: 18px;
      margin-left: 10px;
      color: #f27751;
      font-family: "Noto Sans KR", sans-serif;
    }
    #des {
      margin: 20px 0 50px 0;
      font-size: 14px;
      text-align: center;
    }
    #filters {
      padding-top: 10px;
      #filter-div {
        display: flex;
        justify-content: center;
        #selected {
          border: 2px solid #f27751;
          button {
            color: #f27751;
          }
        }
        .filter-btn {
          height: 150px;
          width: 33%;
          margin: 0 10px;
          border: 2px solid #d0d0d0;
          border-radius: 15px;

          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;

          position: inherit;
          img {
            width: 70px;
            cursor: pointer;
          }
          .hidden {
            display: none;
            position: absolute;
            top: 0;
            left: 0;
          }
          button {
            font-size: 16px;
            border: none;
            background-color: transparent;
            color: #d0d0d0;
          }
        }
      }
    }
    #bg {
      #bg-div {
        display: flex;
        justify-content: center;
        #bg-color {
          label {
            position: relative;
            img {
              position: absolute;
              width: 34px;
              top: 0;
              left: 0;
            }
          }
        }
        .bg-box {
          width: 300px;
          height: 150px;
          margin: 0 10px;
          border: 2px solid #d0d0d0;
          border-radius: 15px;
          color: #d0d0d0;
          div {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            label {
              cursor: pointer;
              img {
                width: 29px;
              }
            }
            img {
              width: 29px;
              cursor: pointer;
            }
            p {
              text-align: center;
              margin-bottom: 0;
              font-size: 12px;
            }
          }
          input {
            display: none;
          }
        }
        .selected {
          border: 2px solid #f27751;
          color: #f27751;
          #bg-img-svg {
            svg {
              path {
                stroke: #f27751;
                &:nth-child(2) {
                  fill: #f27751;
                }
                &:nth-child(3) {
                  fill: #f27751;
                }
              }
            }
          }
        }
      }
    }
    #content-msg {
      #content-div {
        height: 150px;
        background-color: #383838;
        border-radius: 15px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 10px;
        img {
          width: 85px;
        }
        a {
          font-size: 20px;
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}
