form {
  #settings {
    margin-top: 46.5px;
    border-top: 2px solid black;
    .setting-div {
      margin: 20px 10px 10px 10px;
      .setting-title {
        font-size: 15px;
      }
    }
    #filters {
      .filter {
        text-align: center;
        margin-bottom: 30px;
        .selected {
          background-color: black;
          color: white;
        }
        button {
          width: 95vw;
          background-color: transparent;
          padding: 10px 0;
          margin-bottom: 15px;
          border: 2px solid black;
          border-radius: 5px;
          cursor: pointer;
        }
        span {
          display: block;
          color: rgb(125, 125, 125);
        }
      }
      span {
        font-size: 15px;
      }
    }
    #bg-custom {
      #bg-color {
        display: flex;
        align-items: center;
        margin-bottom: 15px;
        input {
          border: 1px solid black;
          margin-right: 15px;
          background-color: transparent;
          width: 80px;
          height: 80px;
          cursor: pointer;
        }
      }
      #bg-img {
        margin-bottom: 15px;
      }
      span {
        font-size: 15px;
      }
    }
    #send-msg {
      #link {
        display: flex;
        // flex-direction: column;
        align-items: center;
        a {
          margin-right: 15px;
          img {
            width: 40px;
          }
        }
        span {
          font-size: 15px;
        }
      }
    }
  }
}
